<h1 style="color: #5e9ca0;">Tworzenie raportu zostało przerwane</h1>
<hr>

Wystąpił błąd podczas generowania raportu.
<br><br>
Komunikat błędu:
<br>
<br>
<%= @error_message %>
<br>
<br>
Jeśli komunikat dotyczy niedostępności sieci, poprostu spróbuj ponownie.
<br>
W przeciwnym razie skontaktuj się z programistą.
<br>
<br>
<%= link_to "Link do raportu", @report_url %>


<br />
<br />
