<h1>Brak raportu</h1>
<p>Raport jeszcze nie istnieje, odśwież tą stronę za kilka minut</p>
<p>Raport stopniowo jest uzupełniany o kolejne pozycje w miarę wykonania skryptu generującego raport.<br>
    Pod linkiem <a href='http://www.raporty.example.com/sidekiq'>postęp generowania</a> możesz śledzić postępy wykonania.

</p>

<%= link_to t('.back', :default => t("helpers.links.back")),
              root_path, :class => 'btn btn-default'  %>

<br><br>
